<%- layout('layouts/adminBoilerplate') %>

    <div class="container justify-content-center align-items-center mb-3 mt-2" style="width: 50rem;">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Update Project</h1>
                <form action="/admin/<%= project._id %>?_method=PUT" method="POST" class="validated-form" novalidate
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="project[title]"
                            value="<%= project.title %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <input class="form-control" type="text" id="description" name="project[description]"
                            value="<%= project.description %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="project[location]"
                            value="<%= project.location %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class=" mb-3">
                        <label class="form-label" for="projectStatus">Project Status</label>
                        <input class="form-control" type="text" id="projectStatus" name="project[projectStatus]"
                            value="<%= project.projectStatus %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="siteArea">Site Area</label>
                        <input class="form-control" type="text" id="siteArea" name="project[siteArea]"
                            value="<%= project.siteArea %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="projectArea">Project Area</label>
                        <input class="form-control" type="text" id="projectArea" name="project[projectArea]"
                            value="<%= project.projectArea %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="projectType">Project Type</label>
                        <input class="form-control" type="text" id="projectType" name="project[projectType]"
                            value="<%= project.projectType %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="projectTeam">Project Team</label>
                        <input class="form-control" type="text" id="projectTeam" name="project[projectTeam]"
                            value="<%= project.projectTeam %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="collaborators">Collaborators</label>
                        <input class="form-control" type="text" id="collaborators" name="project[collaborators]"
                            value="<%= project.collaborators %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="photographyName">Photography Name</label>
                        <input class="form-control" type="text" id="photographyName" name="project[photographyName]"
                            value="<%= project.photographyName %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="image" id="images" multiple>
                        <label class="input-group-text" for="images">Add mode images</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <% project.images.forEach(function(img, i) { %>

                            <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                    value="<%=img.filename%>">
                            </div>
                            <label for="image-<%=i%>">Delete?</label>
                            <% })%>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Update Project</button>
                    </div>
                </form>
                <a class="card-link btn btn-secondary" href="/admin/<%= project._id %>">Back to Project</a>
            </div>
        </div>
    </div>