<%- layout('layouts/boilerplate') %>

    <h1>
        <%= project.title %>
    </h1>
    <p>
        <%= project.description %>
    </p>

    <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <% project.images.forEach((img, i)=> { %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

        </div>
        <% if(project.images.length> 1) {%>
            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
    </div>

    <p>Location: <%= project.location %>
    </p>
    <p>Project Status: <%= project.projectStatus %>
    </p>
    <p>Site Area: <%= project.siteArea %>
    </p>
    <p>Project Area: <%= project.projectArea %>
    </p>
    <p>Project Type: <%= project.projectType %>
    </p>
    <p>Project Team: <%= project.projectTeam %>
    </p>
    <p>Collaborators: <%= project.collaborators %>
    </p>
    <p>Photography By: <%= project.photographyName %>
    </p>
    <!-- images: [ImageSchema],
description: String,
location: String,
projectStatus: String,
siteArea: String,
projectArea: String,
projectType: String,
projectTeam: String,
// collaborators: [
// {
// collaboratorName: String,
// collaboratorService: String
// }
// ]
collaborators: String,
photographyName: String -->