<%- layout('layouts/adminBoilerplate') %>

    <div class="container-fluid">
        <h1 class="text-center mt-1">All Projects</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <% for(let project of projects) {%>

                <div class="col mb-3">
                    <div class="card h-100">
                        <img src="<%= project.images[0].url %>" class="card-img-top" alt="<%= project.title %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= project.title %>
                            </h5>
                            <p class="card-text">
                                <%= project.location %>
                            </p>
                            <a class="btn btn-info" href="/admin/<%=project._id%>">View <%=project.title%></a>
                        </div>
                    </div>
                </div>

                <% } %>
        </div>
    </div>